#one{font-size: 15px;}


/*change text for ie8*/
/*#log-in-outtext{
	font-size:85%\0/;
}*/

.font_level1{
	font-size:85%;
}

.font_level2{
	font-size:95%;
}

.font_level3{
	font-size:110%;
}

.font_level4{
	font-size:130%;
}

.font_level5{
	font-size:140%;
}

.font_level7{
	font-size:150%;
}

.font_level6{
	font-size:160%;
}

.font_level8{
	font-size:220%;
}

.font_level9{
	font-size:260%;
}


#ie-changetext a{
	font-size:13px;
}


/* ==================================================
   calendar
================================================== */

.fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed hr, 
.fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead{
	font-size:100%;
	
}


/* ==================================================
   searbox texts
================================================== */

.form-control {
    font-size: 100%;
}

/* ==================================================
   searchbox
================================================== */

.searchbox{
	font-size:84%;
}


/* ==================================================
   footer
================================================== */
.footer .breadcrumb,
.footer a{
	font-size:130%;
}

/* ==================================================
  news section
================================================== */
/*.news-scroll{
	max-height: 345px;
    min-height: 345px;
}*/

@media screen and (min-width:768px){
	.footer a{
		font-size:160%;
	}
}


